<!-- todo list container -->
<div class="todo-item" fxLayout="column">
  <mat-card class="card" fxFlex="80" fxLayoutAlign="center center">
    <!-- checkbox -->
    <div fxFlex="30" fxLayoutAlign="start center">
      <mat-checkbox>
        <div>{{ todo.message }}</div>
      </mat-checkbox>
    </div>

    <!-- buttons -->
    <div fxLayoutAlign="start" fxFlexOffset="10" fxLayoutGap="3px">
      <button
        mat-stroked-button
        color="warn"
        (click)="onDeleteClicked(todo.id!)"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="onEditClicked(todo.id!)"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
